@model Web_TMDT.Models.Class1
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/wwwroot/css/StyleSheet1.css">
    <link rel="stylesheet" href="~/wwwroot/css/fontawesome-free-6.6.0-web/css/all.min.css" />
</head>
<body>
    <header>
        <nav>
            <div class="header">
                <div class="navbar__input">
                    <input type="text" placeholder="Tìm kiếm sản phẩm" required />
                    <i class="fas fa-search"></i>
                </div>
                <div class="navbar__icons">
                    <i class="fas fa-cart-shopping"></i>
                    <span>0</span>
                </div>
            </div>
        </nav>
        <nav>
            <div class="menu">
                <div class="menu__logo">
                    <ul class="menu-list">
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#">Chính sách đổi trả</a></li>
                        <li><a href="#"><img src="https://bizweb.dktcdn.net/100/415/697/themes/902041/assets/logo.png?1710226595388" alt="Logo" /></a></li>
                        <li><a href="#">Bảng size</a></li>
                        <li><a href="#">Hệ thống cửa hàng</a></li>
                    </ul>
                </div>
                <div class="list">
                    <ul class="header__list">
                        <li><a href="#">tất cả sản phẩm</a></li>
                        <li><a href="#">áo thun</a></li>
                        <li><a href="#">baby tee</a></li>
                        <li><a href="#">áo polo</a></li>
                        <li><a href="#">áo sơ mi</a></li>
                        <li><a href="#">áo khoác</a></li>
                        <li><a href="#">quần</a></li>
                        <li><a href="#">quần nữ</a></li>
                        <li><a href="#">phụ kiện</a></li>
                    </ul>
                </div>
            </div>

        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <nav class="footer">
            <div class="footer__logo">
                <img src="~/wwwroot/img/icons/logo_footer (convert.io).png" />
                <h2>HKD VŨ XUÂN MỪNG</h2>
                <p>Email: </p>
                <p>Điện thoại: </p>
            </div>
            <div class="footer__input">
                <h2>Đăng kí</h2>
                <div class="input_1">
                    <input type="email" placeholder="Nhập email của bạn" />
                    <i class="fas fa-paper-plane"></i>
                </div>
                <p>Theo dõi web qua các trang</p>
                <div class="footer__icon">
                    <ul>
                        <li><a href=""><img src="~/wwwroot/img/icons/facebook.svg" /></a></li>
                        <li><a href=""><img src="~/wwwroot/img/icons/instagram.svg" /></a></li>
                        <li><a href=""><img src="~/wwwroot/img/icons/lazadaico (convert.io).png" /></a></li>
                        <li><a href=""><img src="~/wwwroot/img/icons/tiktok.svg" /></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__about">
                <h2>About Us</h2>
                <ul>
                    <li><a href="">Trang chủ</a></li>
                    <li><a href="">Sản phẩm</a></li>
                    <li><a href="">Bảng size</a></li>
                    <li><a href="">Đơn hàng</a></li>
                </ul>
            </div>
            <div class="footer__policy">
                <h2>Chính Sách</h2>
                <ul>
                    <li><a href="">Chính sách mua hàng</a></li>
                    <li><a href="">Chính sách đổi trả</a></li>
                    <li><a href="">Chính sách bảo mật</a></li>
                    <li><a href="">Chính sách thanh toán</a></li>
                </ul>
            </div>
        </nav>
    </footer>
</body>
</html>
